@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Herr+Von+Muellerhoff&family=Hurricane&family=Mea+Culpa&family=Miss+Fajardose&family=Monsieur+La+Doulaise&family=Mr+De+Haviland&family=Mrs+Saint+Delafield&family=Ruthie&family=WindSong:wght@400;500&display=swap');
*/

:root {
    --main-color: #6271f7;
    --back-color: #79bfe8;
    --bottom-color: var(--back-color);
    --top-color: var(--main-color);
    --text-color: var(--main-color);
    --name: var(--back-color);
    --link-color: var(--main-color);
    --link-menubar: var(--back-color);
}

html {
    /*color: var(--main-color);*/
    /*background-color: var(--back-color);*/
    font-family: "Roboto", sans-serif;
    position: absolute;
}

a:any-link {
    color: var(--main-color);
}

ul {
    padding-bottom: 20px;
}

#debug {
    width: 50vw;
    height: 5vw;
    resize: none;
}

