@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Herr+Von+Muellerhoff&family=Hurricane&family=Mea+Culpa&family=Miss+Fajardose&family=Monsieur+La+Doulaise&family=Mr+De+Haviland&family=Mrs+Saint+Delafield&family=Ruthie&family=WindSong:wght@400;500&display=swap');
*/

:root {
    --main-color: #6271f7;
    --back-color: #79bfe8;
    --bottom-color: var(--back-color);
    --top-color: var(--main-color);
    --text-color: var(--main-color);
    --name: var(--back-color);
    --link-color: var(--main-color);
    --link-menubar: var(--back-color);
}

html {
    /*color: var(--main-color);*/
    /*background-color: var(--back-color);*/
    font-family: "Roboto", sans-serif;
}

a:any-link {
    color: var(--main-color);
}


#time {
	font-weight: bold;
	color: var(--main-color);
	font-family: "Roboto Mono";
}

#fancy {
	font-size: 20px;
	font-style: italic;

	margin: 50px;
}

#gob {
    position: absolute;
    left: 45vw;
    text-align: center;

    margin: 20px;
    padding: 20px;
} 

#box {
    margin: 20px;

    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    position: static;

}

.anim {
    animation: frem-og-tilbake 5s normal;
}

@keyframes frem-og-tilbake {
    0% {
        background-color: #ffffff;
        transform: rotate(45deg);
    }
    25% {
        background-color: #5e76ff;
        border-radius: 10px;
        transform: rotate(90deg);
    }
    50% {
        background-color: #000000;
        border-radius: 50px;
        transform: rotate(180deg);
    }
    75% {
        background-color: #5e76ff;
        border-radius: 10px;
        transform: rotate(270deg);
    }
    100% {
        background-color: #ffffff;
        transform: rotate(360deg);
    }
}

/*
#terminal, #out {
	resize: none;
}

#out {

}
*/
